@import "../../scss/colors";
@import "../../scss/fonts";

.search-result-card-container {
  height: 100px;
  width: 100%;
  background-color: $primary-font-color;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.confirm-invite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  border-radius: 10px;
}

.confirm-invite-button {
  background-color: $confirm;
  color: $primary-font-color;
  margin-right: 10px;

  &:hover {
    border: 2px solid $primary-font-color;
    margin: -2px 8px -2px -2px;
  }
}

.cancel-invite-button {
  background-color: $cancel;
  color: $primary-font-color;

  &:hover {
    border: 2px solid $primary-font-color;
    margin: -2px;
  }
}

.confirm-invite-text {
  font-size: $medium-size;
  font-weight: 500;
  color: $primary-font-color;
  margin: 20px;
  pointer-events: none;
}

.user-image {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 50%;
}

.user-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  flex: 1;
}

.user-text-username {
  font-size: $medium-size;
  pointer-events: none;
}

.user-text-fullname {
  font-size: $readable-size;
  margin-top: 5px;
  pointer-events: none;
}

.invite-btn {
  border: none;
  font-weight: 700;
  font-size: $medium-size;
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.user-invite-button {
  background-color: $secondary-font-color;
  color: $primary-color;
  margin-right: 20px;

  &:hover {
    color: $primary-font-color;
  }
}

.user-already-invited-button {
  background-color: $primary-color;
  color: $primary-font-color;
  margin-right: 20px;

  &:hover {
    color: $secondary-font-color;
  }
}

@media screen and (min-width: 1500px) {
  .search-result-card-container {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
