@import "../../scss/colors";
@import "../../scss//fonts";

.task-container {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  float: left;
}

.taskcard {
  width: 80%;
  height: 100%;
  background-color: $primary-font-color;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.taskcard-header {
  width: 100%;
  height: 25%;
  background-color: $primary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.priority-marking {
  width: 25px;
  height: 15px;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: inset -2px -5px 5px rgba(0, 0, 0, 0.5);
}

.priority-none {
  background-color: $priority-none;
}

.priority-low {
  background-color: $priority-low;
}

.priority-medium {
  background-color: $priority-medium;
}

.priority-high {
  background-color: $priority-high;
}

.priority-urgent {
  background-color: $priority-urgent;
}

.task-creator {
  font-size: $small-size;
  color: $primary-font-color;
}

.taskcard-content {
  width: 100%;
  height: 75%;
  padding: 10px;
  font-size: $readable-size;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (min-width: 1500px) {
  .task-container {
    width: 50%;
    display: inline-block;
  }
}
