@import "../../scss/colors";

.taskcard {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: $primary-font-color;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.taskcard-header {
  width: 100%;
  height: 30%;
  border: 1px solid green;
}

.taskcard-content {
  width: 100%;
  height: 70%;
  border: 1px solid red;
}
