@import "../../scss/colors";
@import "../../scss//fonts";

.searchbar-container {
  width: 90%;
  height: 50px;
  margin: 20px 5%;
  border-radius: 10px;
  background-color: $primary-font-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.md-36 {
  color: $primary-color;
  font-size: 36px;
  padding: 5px;
}

.searchbar-input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: $medium-size;
  &:focus {
    outline: none;
  }
}

.searchbar-btn {
  background-color: $secondary-font-color;
  height: 100%;
  width: 80px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: $medium-size;
  font-weight: 700;
  color: $primary-color;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .searchbar-container {
    width: 50%;
    margin: 20px auto 20px 5%;
  }
}
