@import "../../scss/colors";
@import "../../scss/fonts";

.login-page-container {
  background: linear-gradient(#fff, $primary-color);
  position: relative;
}

.login-header {
  font-size: $medium-size;
  color: $primary-color;
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.signup-link-sentence {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  color: $primary-font-color;
  font-size: $small-size;
  font-weight: 600;
}

.signup-link {
  color: $primary-color;
  cursor: pointer;
}
