@import "../../scss/colors";
@import "../../scss/fonts";

.login-page-container {
  background: linear-gradient(#fff, $primary-color);
  position: relative;
}

.login-header {
  font-size: $medium-size;
  color: $primary-color;
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding: 20px;
  white-space: pre-wrap;

  .login-header-title {
    font-family: $title-font-family;
  }

  .small-text {
    font-size: $small-size;
  }
}

.signup-link-sentence {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  color: $primary-font-color;
  font-size: $small-size;
  font-weight: 600;
}

.signup-link {
  color: $secondary-font-color;
  cursor: pointer;
}
