$primary-color: rgb(26, 39, 48);

$primary-font-color: rgb(245, 243, 243);
$primary-font-color-hover: rgba(238, 238, 238, 0.755);
$secondary-font-color: rgb(251, 133, 0);

$alert-color: rgb(198, 1, 1);
