@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

$title-size: 70px;
$button-size: 20px;
$medium-size: 25px;
$readable-size: 20px;
$small-size: 15px;

$title-font-family: Satisfy, cursive;
